dicts/
gifs/
inspected/
plots/
tmp/
data/
.ipynb_checkpoints
__pycache__
exact_method_200
exact_method_gifs
rollout/
rollout_gifs/
keras_models*
states/
linear_model_dicts/
linear_model_gifs
linear_models/
linear_models_2/
report_plots/
